In [1]:
import pandas as pd
melb_df = pd.read_csv('data/melb_data_ps_2.csv')
display(melb_df.head())

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,MeanRoomsSquare,AreaRatio
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,25.20,-0.231707
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,15.80,-0.327660
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,18.75,0.056338
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,15.75,0.145455
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,17.75,0.083969

### ФОРМАТ DATETIME

In [3]:
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True) #преобразование в формат datetime
display(melb_df['Date'])

0       2016-12-03
1       2016-02-04
2       2017-03-04
3       2017-03-04
4       2016-06-04
           ...
13575   2017-08-26
13576   2017-08-26
13577   2017-08-26
13578   2017-08-26
13579   2017-08-26
Name: Date, Length: 13580, dtype: datetime64[ns]

#### ВЫДЕЛЕНИЕ АТРИБУТОВ DATETIME

In [10]:
years_sold = melb_df['Date'].dt.year
#print(years_sold)
print('Min year sold:', years_sold.min())
print('Max year sold:', years_sold.max())
print('Mode year sold:', years_sold.mode()[0])
print('------------------------')
melb_df['MonthSale'] = melb_df['Date'].dt.month
melb_df['MonthSale'].value_counts(normalize=True)

Min year sold: 2016
Max year sold: 2017
Mode year sold: 2017
------------------------

5     0.149411
7     0.145950
9     0.135862
6     0.134757
8     0.114138
11    0.082032
4     0.069882
3     0.049926
12    0.044698
10    0.040574
2     0.032622
1     0.000147
Name: MonthSale, dtype: float64

#### РАБОТА С ИНТЕРВАЛАМИ

In [12]:
delta_days = melb_df['Date'] - pd.to_datetime('2016-01-01')
display(delta_days.dt.days)

0        337
1         34
2        428
3        428
4        155
        ...
13575    603
13576    603
13577    603
13578    603
13579    603
Name: Date, Length: 13580, dtype: int64

In [14]:
melb_df['AgeBuilding'] = melb_df['Date'].dt.year - melb_df['YearBuilt']
display(melb_df['AgeBuilding'])
display(melb_df['AgeBuilding'].value_counts(normalize=True))

0         46
1        116
2        117
3         47
4          2
        ...
13575     36
13576     22
13577     20
13578     97
13579     97
Name: AgeBuilding, Length: 13580, dtype: int64

 47     0.265979
 46     0.194404
 56     0.027320
 57     0.026436
 66     0.023785
          ...
 98     0.000074
 118    0.000074
 141    0.000074
 84     0.000074
-2      0.000074
Name: AgeBuilding, Length: 152, dtype: float64

In [18]:
#melb_df = melb_df.drop('YearBuilt', axis=1)
melb_df.to_csv('data/melb_data_ps_3.csv')

In [22]:
melb_df['WeekdaySale'] = melb_df['Date'].dt.day_of_week
weekend_count = (melb_df['WeekdaySale'] > 4).sum()
display(weekend_count)

12822

In [23]:
weekend_count_2 = melb_df[(melb_df['WeekdaySale'] == 5) | (melb_df['WeekdaySale'] == 6)].shape[0]
print(weekend_count_2)

12822

In [24]:
ufo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv', sep=",")
display(ufo)

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
...,...,...,...,...,...
18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59

"City" — город, где был замечен НЛО;
"Colors Reported" — цвет объекта;
"Shape Reported" — форма объекта;
"State" — обозначение штата;
"Time" — время, когда был замечен НЛО (данные отсортированы от старых наблюдений к новым).

In [25]:
ufo['Time'] = pd.to_datetime(ufo['Time'])

In [32]:
display(ufo['Time'].dt.year.mode()[0])

1999

In [36]:
ufo['Date'] = ufo['Time'].dt.date
display(ufo[ufo['State'] == 'NV']['Date'].diff().dt.days.mean())

68.92932862190813

In [37]:
melb_df.to_csv('data/melb_data_ps_3.csv')