In [1]:
import pandas as pd
melb_df = pd.read_csv('data/melb_data_ps_4.csv', sep=',')

In [2]:
unique_list = []

In [3]:
for col in melb_df.columns:
    item = (col, melb_df[col].nunique(),melb_df[col].dtype)
    unique_list.append(item)

In [4]:
unique_counts = pd.DataFrame(
    unique_list,
    columns=['Column_Name', 'Num_Unique', 'Type']
).sort_values(by='Num_Unique', ignore_index=True, ascending=True)

In [5]:
display(unique_counts)

        Column_Name  Num_Unique     Type
0           Weekend           2    int64
1              Type           3   object
2       WeekdaySale           5    int64
3            Method           5   object
4        Regionname           8   object
5             Rooms           9    int64
6          Bathroom           9    int64
7        StreetType          11   object
8               Car          11    int64
9           Bedroom          12    int64
10        MonthSale          12    int64
11      CouncilArea          33   object
12          SellerG          50   object
13             Date          58   object
14      AgeBuilding         152    int64
15         Postcode         198    int64
16         Distance         202  float64
17    Propertycount         311    int64
18           Suburb         314   object
19     BuildingArea         602  float64
20  MeanRoomsSquare        1275  float64
21         Landsize        1448  float64
22            Price        2204  float64
23        Lattitude        6503  float64
24        AreaRatio        6521  float64
25       Longtitude        7063  float64
26       Unnamed: 0       13580    int64
27     Unnamed: 0.1       13580    int64
28     Unnamed: 0.2       13580    int64

#### ТИП ДАННЫХ CATEGORY

In [6]:
display(melb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 29 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0.2     13580 non-null  int64
 1   Unnamed: 0.1     13580 non-null  int64
 2   Unnamed: 0       13580 non-null  int64
 3   Suburb           13580 non-null  object
 4   Rooms            13580 non-null  int64
 5   Type             13580 non-null  object
 6   Price            13580 non-null  float64
 7   Method           13580 non-null  object
 8   SellerG          13580 non-null  object
 9   Date             13580 non-null  object
 10  Distance         13580 non-null  float64
 11  Postcode         13580 non-null  int64
 12  Bedroom          13580 non-null  int64
 13  Bathroom         13580 non-null  int64
 14  Car              13580 non-null  int64
 15  Landsize         13580 non-null  float64
 16  BuildingArea     13580 non-null  float64
 17  CouncilArea      12211 non-null  object
 18  Lattitude        13580 non-null  float64
 19  Longtitude       13580 non-null  float64
 20  Regionname       13580 non-null  object
 21  Propertycount    13580 non-null  int64
 22  MeanRoomsSquare  13580 non-null  float64
 23  AreaRatio        13580 non-null  float64
 24  MonthSale        13580 non-null  int64
 25  AgeBuilding      13580 non-null  int64
 26  WeekdaySale      13580 non-null  int64
 27  StreetType       13580 non-null  object
 28  Weekend          13580 non-null  int64
dtypes: float64(8), int64(13), object(8)
memory usage: 3.0+ MB

None

In [7]:
cols_to_exclude = ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car']
max_uniq_count = 150
for col in melb_df.columns:
    if melb_df[col].nunique() < max_uniq_count and col not in cols_to_exclude:
        melb_df[col] = melb_df[col].astype('category')
display(melb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 29 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0.2     13580 non-null  int64
 1   Unnamed: 0.1     13580 non-null  int64
 2   Unnamed: 0       13580 non-null  int64
 3   Suburb           13580 non-null  object
 4   Rooms            13580 non-null  int64
 5   Type             13580 non-null  category
 6   Price            13580 non-null  float64
 7   Method           13580 non-null  category
 8   SellerG          13580 non-null  category
 9   Date             13580 non-null  object
 10  Distance         13580 non-null  float64
 11  Postcode         13580 non-null  int64
 12  Bedroom          13580 non-null  int64
 13  Bathroom         13580 non-null  int64
 14  Car              13580 non-null  int64
 15  Landsize         13580 non-null  float64
 16  BuildingArea     13580 non-null  float64
 17  CouncilArea      12211 non-null  category
 18  Lattitude        13580 non-null  float64
 19  Longtitude       13580 non-null  float64
 20  Regionname       13580 non-null  category
 21  Propertycount    13580 non-null  int64
 22  MeanRoomsSquare  13580 non-null  float64
 23  AreaRatio        13580 non-null  float64
 24  MonthSale        13580 non-null  category
 25  AgeBuilding      13580 non-null  int64
 26  WeekdaySale      13580 non-null  category
 27  StreetType       13580 non-null  category
 28  Weekend          13580 non-null  category
dtypes: category(9), float64(8), int64(10), object(2)
memory usage: 2.2+ MB

None

##### ПОЛУЧЕНИЕ АТРИБУТОВ CATEGORY

In [8]:
print(melb_df['Regionname'].cat.categories)

Index(['Eastern Metropolitan', 'Eastern Victoria', 'Northern Metropolitan',
       'Northern Victoria', 'South-Eastern Metropolitan',
       'Southern Metropolitan', 'Western Metropolitan', 'Western Victoria'],
      dtype='object')

In [9]:
print(melb_df['Regionname'].cat.codes)

0        2
1        2
2        2
3        2
4        2
        ..
13575    4
13576    6
13577    6
13578    6
13579    6
Length: 13580, dtype: int8

In [10]:
melb_df['Type'] = melb_df['Type'].cat.rename_categories({
    'u': 'unit',
    't': 'townhouse',
    'h': 'house'
})

In [11]:
display(melb_df['Type'])

0        house
1        house
2        house
3        house
4        house
         ...
13575    house
13576    house
13577    house
13578    house
13579    house
Name: Type, Length: 13580, dtype: category
Categories (3, object): ['house', 'townhouse', 'unit']

In [12]:
new_houses_types = pd.Series(['unit', 'house', 'flat', 'flat', 'house'])
new_houses_types = new_houses_types.astype(melb_df['Type'].dtype)
display(new_houses_types)

0     unit
1    house
2      NaN
3      NaN
4    house
dtype: category
Categories (3, object): ['house', 'townhouse', 'unit']

In [13]:
melb_df['Type'] = melb_df['Type'].cat.add_categories('flat')
new_houses_types = pd.Series(['unit', 'house', 'flat', 'flat', 'house'])
new_houses_types = new_houses_types.astype(melb_df['Type'].dtype)
display(new_houses_types)

0     unit
1    house
2     flat
3     flat
4    house
dtype: category
Categories (4, object): ['house', 'townhouse', 'unit', 'flat']

In [14]:
melb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 29 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0.2     13580 non-null  int64
 1   Unnamed: 0.1     13580 non-null  int64
 2   Unnamed: 0       13580 non-null  int64
 3   Suburb           13580 non-null  object
 4   Rooms            13580 non-null  int64
 5   Type             13580 non-null  category
 6   Price            13580 non-null  float64
 7   Method           13580 non-null  category
 8   SellerG          13580 non-null  category
 9   Date             13580 non-null  object
 10  Distance         13580 non-null  float64
 11  Postcode         13580 non-null  int64
 12  Bedroom          13580 non-null  int64
 13  Bathroom         13580 non-null  int64
 14  Car              13580 non-null  int64
 15  Landsize         13580 non-null  float64
 16  BuildingArea     13580 non-null  float64
 17  CouncilArea      12211 non-null  category
 18  Lattitude        13580 non-null  float64
 19  Longtitude       13580 non-null  float64
 20  Regionname       13580 non-null  category
 21  Propertycount    13580 non-null  int64
 22  MeanRoomsSquare  13580 non-null  float64
 23  AreaRatio        13580 non-null  float64
 24  MonthSale        13580 non-null  category
 25  AgeBuilding      13580 non-null  int64
 26  WeekdaySale      13580 non-null  category
 27  StreetType       13580 non-null  category
 28  Weekend          13580 non-null  category
dtypes: category(9), float64(8), int64(10), object(2)
memory usage: 2.2+ MB

In [15]:
suburb_n = melb_df['Suburb'].value_counts().nlargest(119).index
print(suburb_n)

Index(['Reservoir', 'Richmond', 'Bentleigh East', 'Preston', 'Brunswick',
       'Essendon', 'South Yarra', 'Glen Iris', 'Hawthorn', 'Coburg',
       ...
       'Albion', 'Hoppers Crossing', 'Sunbury', 'Greensborough', 'Bundoora',
       'Hughesdale', 'Chadstone', 'Caulfield North', 'Mont Albert',
       'Alphington'],
      dtype='object', length=119)

In [16]:
melb_df['Suburb'] = melb_df['Suburb'].apply(lambda x: x if x in suburb_n else 'other')

In [18]:
display(melb_df['Suburb'].nunique())

120

In [22]:
melb_df['Suburb'] = melb_df['Suburb'].astype('category')
melb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 29 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0.2     13580 non-null  int64
 1   Unnamed: 0.1     13580 non-null  int64
 2   Unnamed: 0       13580 non-null  int64
 3   Suburb           13580 non-null  category
 4   Rooms            13580 non-null  int64
 5   Type             13580 non-null  category
 6   Price            13580 non-null  float64
 7   Method           13580 non-null  category
 8   SellerG          13580 non-null  category
 9   Date             13580 non-null  object
 10  Distance         13580 non-null  float64
 11  Postcode         13580 non-null  int64
 12  Bedroom          13580 non-null  int64
 13  Bathroom         13580 non-null  int64
 14  Car              13580 non-null  int64
 15  Landsize         13580 non-null  float64
 16  BuildingArea     13580 non-null  float64
 17  CouncilArea      12211 non-null  category
 18  Lattitude        13580 non-null  float64
 19  Longtitude       13580 non-null  float64
 20  Regionname       13580 non-null  category
 21  Propertycount    13580 non-null  int64
 22  MeanRoomsSquare  13580 non-null  float64
 23  AreaRatio        13580 non-null  float64
 24  MonthSale        13580 non-null  category
 25  AgeBuilding      13580 non-null  int64
 26  WeekdaySale      13580 non-null  category
 27  StreetType       13580 non-null  category
 28  Weekend          13580 non-null  category
dtypes: category(10), float64(8), int64(10), object(1)
memory usage: 2.1+ MB

In [23]:
melb_df['Suburb']

0          Abbotsford
1          Abbotsford
2          Abbotsford
3          Abbotsford
4          Abbotsford
             ...
13575           other
13576    Williamstown
13577    Williamstown
13578    Williamstown
13579      Yarraville
Name: Suburb, Length: 13580, dtype: category
Categories (120, object): ['Abbotsford', 'Aberfeldie', 'Airport West', 'Albert Park', ..., 'Williamstown', 'Windsor', 'Yarraville', 'other']

In [24]:
melb_df.to_csv('data/melb_data_ps_5.csv')