In [1]:
import pandas as pd
citi_df = pd.read_csv('data/citibike-tripdata.csv', sep=',')

In [2]:
display(citi_df['start station id'].isna().sum())

169

In [3]:
display(citi_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

None

In [4]:
display(citi_df['start station id'].mode())

0    281.0
Name: start station id, dtype: float64

In [5]:
display(citi_df['bikeid'].mode())

0    33887
Name: bikeid, dtype: int64

In [6]:
display(citi_df['usertype'].value_counts(normalize=True))

Subscriber    0.774007
Customer      0.225993
Name: usertype, dtype: float64

In [7]:
display(citi_df['gender'].value_counts())

1    183582
2     74506
0     41912
Name: gender, dtype: int64

In [8]:
display(citi_df['start station id'].nunique() != citi_df['end station id'].nunique())

True

In [9]:
citi_df['starttime'] = pd.to_datetime(citi_df['starttime'], yearfirst=True)

In [10]:
citi_df['stoptime'] = pd.to_datetime(citi_df['stoptime'], yearfirst=True)

In [11]:
display((citi_df['starttime'].dt.year - citi_df['birth year']).min())

16

In [12]:
citi_df[['start station id', 'start station name']].value_counts()

start station id  start station name
281.0             Grand Army Plaza & Central Park S    1928
2006.0            Central Park S & 6 Ave               1909
519.0             Pershing Square North                1873
514.0             12 Ave & W 40 St                     1845
426.0             West St & Chambers St                1835
                                                       ...
3432.0            NYCBS Depot - GOW                      15
3599.0            Franklin Ave & Empire Blvd             11
2005.0            Railroad Ave & Kay Ave                  9
3704.0            47 Ave & Skillman Ave                   7
3583.0            Eastern Pkwy & Washington Ave           6
Length: 759, dtype: int64

In [13]:
citi_df['end station name'].mode()

0    West St & Chambers St
Name: end station name, dtype: object

In [14]:
citi_df = citi_df.drop(['start station id', 'end station id'], axis=1)

In [15]:
citi_df.shape

(300000, 12)

In [16]:
citi_df['age'] = 2018 - citi_df['birth year']

In [17]:
display((citi_df['age'] > 60).sum())

11837

In [18]:
citi_df = citi_df.drop('birth year', axis=1)

In [19]:
citi_df['trip duration'] = citi_df['stoptime'] - citi_df['starttime']

In [20]:
avg = citi_df['trip duration'].mean()

In [21]:
avg.seconds

1126

In [22]:
def get_weekend(weekday):
    if weekday > 4:
        return 1
    else:
        return 0

In [24]:
citi_df['weekend'] = citi_df['starttime'].dt.day_of_week.apply(get_weekend)

In [25]:
citi_df['weekend'].value_counts()

0    184865
1    115135
Name: weekend, dtype: int64

In [26]:
def time_of_day(starthour):
    if starthour in range(0,7):
        return 'night'
    if starthour in range(6,13):
        return 'morning'
    if starthour in range(12,19):
        return 'day'
    if starthour in range(18,24):
        return 'evening'

In [28]:
citi_df['time_of_day'] = citi_df['starttime'].dt.hour.apply(time_of_day)

In [30]:
(citi_df['time_of_day'] == 'day').sum() / (citi_df['time_of_day'] == 'night').sum()

9.480411004308916